<p id="notice"><%= notice %></p>

<p>
  <strong>Tut title:</strong>
  <%= @tutorial.tut_title %>
</p>

<p>
  <strong>Tut desc:</strong>
  <%= @tutorial.tut_desc %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
